# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/

# Django
*.log
*.sqlite3
db.sqlite3
media/
staticfiles/
static/
env/
venv/
*.env
.env.local
.env.*.local

# VSCode
.vscode/
.history/

# PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# MacOS
.DS_Store

# Other
*.bak
*.swp
*~
